<h2>Social</h2>
<a href="https://www.facebook.com/eurosys2017" target="_blank">
    <img src="/assets/img/fb.png">
</a>
<a href="https://twitter.com/eurosys2017" target="_blank">
    <img src="/assets/img/twitter.png">
</a>


<h2>News</h2>
{% for post in site.posts limit:2 %}
    <h3><a href="/news">{{ post.title }}</a></h3>
    <p class="news-preview">{{ post.content | truncatewords: 20 | remove: '<p>' | remove: '</p>'}}</p>
{% endfor %}
See all <a href="/news">here</a>


<h2>Supporters</h2>
                        
<h3>Platinum</h3>                            
<div class="logo platinium">
    <a href="http://www.cisco.com" target="_blank">
        <img class="img-responsive" src="/assets/img/cisco.png">
    </a>
</div>

<div class="logo platinium">
	<a href="http://www.nordeus.com/" target="_blank">
		<img class="img-responsive" src="/assets/img/nordeus-dark-blue.png">
		</a>
</div>


<div class="logo platinium">
    <a href="http://www.vmware.com" target="_blank">
        <img class="img-responsive" src="/assets/img/vmware.png">
    </a>
</div>


<h3>Gold</h3>
<div class="logo gold">
	<a href="http://www.ibm.com" target="_blank">
		<img class="img-responsive" src="/assets/img/ibm.png">
		</a>
	</div>

<div class="logo gold">
    <a href="http://www.intel.com" target="_blank">
        <img class="img-responsive" src="/assets/img/intel.png">
    </a>
</div>



<h3>Silver</h3>
<div class="logo silver">
    <a href="http://research.microsoft.com" target="_blank">
        <img class="img-responsive" src="/assets/img/microsoft.png">
    </a>
</div>

<div class="logo silver">
    <a href="https://labs.oracle.com" target="_blank">
        <img class="img-responsive" src="/assets/img/oracle.png">
    </a>
</div>


<h3>Bronze</h3>
<div class="logo bronze">
    <a href="http://www.google.com" target="_blank">
        <img class="img-responsive" src="/assets/img/google.png">
    </a>
</div>
<div class="logo bronze">
	<a href="https://www.levi9.com" target="_blank">
		<img class="img-responsive" src="/assets/img/levi9.png">
		</a>
	</div>
<div class="logo bronze">
    <a href="http://www.redhat.com" target="_blank">
        <img class="img-responsive" src="/assets/img/redhat.jpg">
    </a>
</div>